html, body, h1, h2{
    margin: 0;
}

html, body{
    height: 100%;
}

*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

/* Added By Refsi*/

a:hover {
  transition: ease 1s;
  text-decoration: underline;
}

a:active {
  font-weight: bold;
}

/* --- */

header{
    height: 70px;
    background-color: #0c3866;
    color: white;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 7px#0000000c;
}

.header-logo{
    float: left;
    font-size: 30px;
    margin: 15px 20px;
}

.header-menu{
    float: right;
    margin: 30px;
}

.header-menu a{
    padding: 20px;
}

/* Added by Refsi */
.header-menu a:hover {
    background-color: #fff;
    color: #0C3866;
    transition: ease 1s;
}
/* --- */

.banner{
    /* height: 500px; */
    height: auto;
    /* width: 1200px; */
    width: 100%;
    /* margin: 100px 400px; */
    border-bottom: 2px solid #0c3866;
    text-align: center;
}

/* Added by Refsi */

#banner-section {
  transition: ease 1s;
  background-color: #fff;
  animation-name: efek-banner;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes efek-banner {
  from {background-color: rgba(255, 255, 255, 0.104);}
  to {background-color: rgba(65, 119, 201, 0.145);}
}

/* --- */

.banner-img{
    /* width: 60%; */
}

.banner-img img{
    display: inline-block;
    float: left;
    width: 60%;
}

.banner-text{
    width: 40%;
    margin-top: 230px;
    float: right;
    color: #0c3866;
}

.banner-title{
    font-size: 70px;
    font-weight: bold;
}

.banner-desc p{
    font-weight: lighter;
    font-size: 30px;
    margin: 0;
}

  /* Added by Refsi */
  #contact-section {
    min-height: 800px;
    text-align: center;
  }
  /* --- */

  .contact-form {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    background-color: #71767a;
    font-family: Segoe UI;
  }

.section-title {
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
    font-size: 25px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    font-family: Segoe UI;
  }

  input, textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #000;
    font-family: Segoe UI;
  }

  /* Added by Refsi */
  input[type="text"], input[type="email"], textarea
  {
    background-color:rgba(255, 255, 255, 0.7);
  }

  input[type="text"]:focus, input[type="email"]:focus , textarea:focus
  {
    border-color: #084b92;
    box-shadow: 2px 2px 3px #084b92;
    background-color: #fff;
  }
  /* --- */

.contact-submit {
  background-color: #ffffff;
  color: #000000;
  font-family: Segoe UI;
  cursor: pointer;

  /* Added by Refsi */
  
  padding: 15px 40px;
  background-color: #084b92;
  cursor: pointer;
  box-shadow: 0 7px #022041;
  color: white;
  
}

.contact-submit:hover {
  font-weight: bold;
}

.contact-submit:active {
  box-shadow: none;
  position:relative;
  top:7px;
}

.footer {
    background-color: #084b92;
    color: #ffffff;
    height: 60px;
    /*padding: 15px;*/
    font-family: Segoe UI;
  }

.footer-logo {
    float: left;
    font-size: 15px;
    padding-top: 7px;
    font-family: Segoe UI;
  }

.footer-list a {
    float: right;
    padding: 20px 20px;
    color: rgb(255, 255, 255);
    font-family: Segoe UI;
  }

  .footer-list a:hover {
    color: #000000;
  }
/* Added by Febry */
.team-profile {

  width: 100%;
  height: 700px;
  background-color: #d4e2d4;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}
.profile {
  height: 600px;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  
}


main#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

.team-profile .item {
  position: absolute;
  width: 300px;
  height: 400px;

  background-color: coral;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

.team-profile .item:nth-of-type(1) {
  --offset: 1;
  
  background-image: url("../images/febry.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;

}
.team-profile .item:nth-of-type(2) {
  --offset: 2;
  background-image: url("../images/refsi.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
}
.team-profile .item:nth-of-type(3) {
  --offset: 3;
  background-image: url("../images/arief.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
}
.team-profile .item:nth-of-type(4) {
  --offset: 4;
  background-image: url("../images/fahmy.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
}
.team-profile .item:nth-of-type(5) {
  --offset: 5;
  background-image: url("../images/agri.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
  --position: 5;
}
.txt-heading {
  font-size: 30px;
  color: #000;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}
